PORT=3000

POSTGRES_USER=pradoprint
POSTGRES_PASSWORD=pradoprint
POSTGRES_DB=pradoprint_ssbw

DATABASE_URL=postgresql://pradoprint:pradoprint@localhost:5432/pradoprint_ssbw?schema=public

SESSION_SECRET=cambiar_esto_en_produccion

SECRET_KEY=cambiar_esto_jwt_secret